In [1]:
import pandas as pd
import sqlite3

In [2]:
d = {'a': [1,2,3], 'b': [1,3,5], 'c': [2,4,6]}
df = pd.DataFrame.from_dict(d)

In [3]:
df

   a  b  c
0  1  1  2
1  2  3  4
2  3  5  6

In [4]:
con = sqlite3.connect('../sources.db')
df.to_sql("test", con, if_exists='append', index=False)
con.close()