In [4]:
import pandas as pd

In [5]:
d = {'a': [1,2,3], 'b': [1,3,5], 'c': [2,4,6]}
df = pd.DataFrame.from_dict(d)

In [6]:
df

   a  b  c
0  1  1  2
1  2  3  4
2  3  5  6